*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color: rgb(154, 151, 237);
}
.container{
    background-color: white;
    padding: 25px 50px;
    border-radius: 20px ;
    min-width: 500px;
}
header , .quote-text , .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.author p{
    text-align: end;
}
header{
    font-size: 20px;
}
.quote-text p{
    font-size: 20px;
}
.btns{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.btns button{
        font-size: 14px;
        padding: 15px 20px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
}