*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color: rgb(154, 151, 237);
}
.container{
    background-color: white;
    padding: 20px 50px;
    border-radius: 20px ;
    min-width: 400px;
}
header , .quote-text , .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.author p{
    text-align: end;
}
header{
    font-size: 20px;
}
.quote-text p{
    font-size: 20px;
}
.btns{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.btns button{
        font-size: 14px;

        border-radius: 20px;
        border: none;

        cursor: pointer;
}
.tweet button{
    background-color: #1DA1F2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 8px 20px;

}
.new-quote button{
    background-color: orange;
    color: white;
    padding: 15px 20px;
}
.tweet button img{
    width: 30px;
    height: 30px;
}